@import "tailwindcss";

:root {
  --primary-color: #42b883;
  --primary-color-darker: #0d864f;
  --secondary-color: #1c3041;
  --font-color-light: #fff;
  --hover-color: #f0f0f0;
  --font-color-dark: #55655c;
  --background-color: #fff;
  --font-color-weak: #94ae9f;
  --table-border-color: #e2e2e290;
  --content-bg-color: #fbfbfb;
  --input-outline-color: #22222240;
  --weak-border-color: #e2e2e290;
  --border-color: #b6b6b6;
}

@theme {
  --color-brand: var(--primary-color);
  --color-light: var(--font-color-light);
  --animate-slide-in-right: slide-in-right 0.3s ease-out;
}

@keyframes slide-in-right {
  0% {
    margin-left: 100%;
  }

  80% {
    margin-left: -10%;
  }

  100% {
    margin-left: 0;
  }
}

@layer base {
  html {
    line-height: revert
  }

  ul {
    list-style-type: none;
  }

  body {
    font-style: normal;
    min-width: 292px;
    color: var(--font-color-dark);
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    /* ブラウザのデフォルト（bold等）に戻す */
    font-weight: revert;
  }

  input {
    font-family: revert;
  }

  button {
    font-weight: revert;
  }

  textarea {
    all: revert;
  }

  select {
    padding: 4px 8px;
  }
}